body {
  font-size: 12px;
  line-height: 16px;
  font-family: "Noto Sans KR", sans-serif, NanumGothic, "나눔고딕", Dotum,
    "돋움", Helvetica, "Apple SD Gothic Neo";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.storyWrapper {
  display: none;
}

.bannerContainer {
  width: 100%;
  display: flex;
  position: relative;
}

.bannerSection input[type="radio"] {
  display: none;
}

.bannerWrapper {
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 14vw;
  cursor: pointer;
}

.bannerWrapper .bannerImage.mobile {
  display: none;
}

.bannerWrapper .bannerImage.pc {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-out 0s;
  -webkit-transition: transform 0.2s ease-out 0s;
  -moz-transition: transform 0.2s ease-out 0s;
  -o-transition: transform 0.2s ease-out 0s;
}

.bannerWrapper:hover .bannerImage.pc {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.bannerWrapper .bannerTitle,
.bannerWrapper .bannerDescription {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  color: #222;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bannerWrapper .bannerTitle {
  top: 15%;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.33px;
  white-space: nowrap;
}

.bannerWrapper .bannerDescription {
  top: 34%;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: -0.21px;
  white-space: normal;
}

.bannerDescription .bannerMore {
  display: block;
  width: 230px;
  height: 50px;
  margin: 20px auto 0;
  padding: 0 40px;
  border: #222 1px solid;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  font-size: 14px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.21px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .bannerWrapper .bannerTitle {
    top: 17%;
    font-size: 20px;
    line-height: 31px;
  }

  .bannerWrapper .bannerDescription {
    top: 36%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }

  .bannerDescription .bannerMore {
    width: 180px;
    height: 36px;
    margin: 10px auto 0;
    padding: 0 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    line-height: 34px;
  }
}

@media (max-width: 1023px) {
  .bannerSection {
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;
  }

  .storyWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 0;
  }

  .storyWrapper .storyTitle {
    font-size: 22px;
    margin: 0;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #222;
  }

  .storyWrapper .moreLink {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: -0.18px;
    color: #222;
    cursor: pointer;
  }

  .bannerContainer {
    display: block;
    padding: 20px 20px 50px;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .bannerWrapper {
    width: calc(100vw - 40px);
    height: 38.5vw;
    margin: 0 auto;
    display: inline-block;
  }

  .bannerWrapper:last-child {
    margin-left: 37px;
  }

  .bannerWrapper .bannerImage.pc {
    display: none;
  }

  .bannerWrapper .bannerImage.mobile {
    display: block;
    width: 100%;
    height: 100%;
  }

  .bannerWrapper .bannerTitle {
    top: 26%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.21px;
    text-align: inherit;
  }

  .bannerWrapper .bannerDescription {
    top: 44%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -0.18px;
    text-align: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .bannerDescription .bannerMore {
    display: none;
  }

  .bannerDots {
    display: block;
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
    padding-bottom: 9px;
    text-align: center;
  }

  .bannerDots .bannerDot {
    display: inline-block;
    background-color: transparent;
    width: 8px;
    height: 8px;
    background-color: #e4e4e4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    cursor: pointer;
  }

  .bannerDots .bannerDot:last-child {
    margin-left: 10px;
  }

  #radioBrand:checked ~ .bannerDots .bannerDot.brand,
  #radioOffline:checked ~ .bannerDots .bannerDot.offline {
    background-color: #f5ca5f;
  }

  .bannerSection #radioBrand:checked ~ .bannerContainer {
    margin-left: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .bannerSection #radioOffline:checked ~ .bannerContainer {
    margin-left: -100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
  }
}
